div {
    padding: 15px;
    background-color: #404149;
}

a {
    color: #d0cccd;
    font-size: 30px;
    padding: 30px;
    text-transform: capitalize;
    text-decoration: solid;
}

a:hover {
    color: #4da895;
    cursor: pointer;
}